/* Background Section */
.header {
    background: url('../../Assets/Images/black2.jpg') no-repeat center center/cover;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
  
  .headerContent h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  .headerContent p {
    font-size: 1.2rem;
    margin: 0.5rem 0 0;
  }
  
  .headerContent span {
    color: var(--main-color);
  }