/* RecentHolidayCard.module.css */
.cardWrapper {
    transition: transform 0.3s ease;
}

.cardWrapper:hover {
    transform: scale(1.02);
}

.img {
    height: 300px; /* Adjust as needed */
    object-fit: cover;
}


