.recentHolidays .row .col-lg-6:first-of-type .img-div {
    background-image: url('../../assets/Images/spain.webp');
}

.recentHolidays .row .col-lg-6:nth-last-of-type(2) .img-div {
    background-image: url('../../assets/Images/portugal.jpg');
}

.recentHolidays .row .col-lg-6:nth-last-of-type(3) .img-div {
    background-image: url('../../assets/Images/greece.jpg');
}

.recentHolidays .row .col-lg-6:last-of-type .img-div {
    background-image: url('../../assets/Images/maldives.jpg');
}

.recentHolidays .img-div {
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.recentHolidays .title {
    font-size: 1.5rem;
}

@media screen and (max-width: 576px) {
    .recentHolidays .img-div {
        height: 200px;
    }
}
/* RecentHolidays.module.css */
.recentHolidays .img-div {
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.recentHolidays .title {
    font-size: 1.5rem;
}

@media screen and (max-width: 576px) {
    .recentHolidays .img-div {
        height: 200px;
    }
}
