.container {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bg {
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  animation: fadeInBg 1s forwards;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  z-index: 2;
  padding: 0 20px;
}

.text {
  flex: 1;
  color: #000;
  animation: fadeInText 1s 1s forwards;
}

.text p {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}


.plane {
  flex: 1;
  max-width: 100%;
  height: auto;
  animation: flyIn 1.5s 1s forwards;
}

/* Keyframes */
@keyframes fadeInBg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flyIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
  }

  .text h1 {
    font-size: 2rem;
  }

  .plane {
    max-width: 80%;
  }
}
