/* Booking.module.css */

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--main-color);  /* Ensure this color variable exists */
}

.dateInput {
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.countryInput {
  text-align: center;
  font-size: 1rem;
}
